<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>

        <link rel="stylesheet" th:href="@{/resources/currency.css}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <h1>Home</h1>
        <p class="timeBanner"><span th:text="${name}"></span></p>
        <p class="timeBanner">Time: <span th:text="${today}"></span></p>
        <div id='cssmenu'>
<ul>
   <li class='active'><a href='#'><span>Home</span></a></li>
   <li class='last'><a th:href='${login_path}'><span th:text="${login_menu}"></span></a></li>
</ul>
</div>
        <table>
            
            <tr th:each="game : ${games}">
                
                <td>
                    
                    
                    <p class ="title" th:text="${game.getName()}"> </p>
                    <a th:href="${game.getUrl()}">
                    <img class="product" th:src="@{${game.getPicture_Url()}}"> </img>
                    </a>
                    <p class="euro"> EUR <span class ="price" th:text="${game.getPrice()}"> </span> </p>
                    <p class ="description" th:text="${game.getShort_desctription()}"> </p>
                   
                </td>
               
                
            </tr>
        </table>
        <ol><li th:each="item : ${game_list}"  th:id="${item}" th:text="${item}"></li></ol>
    </body>
</html>
