<!DOCTYPE html>
<html>
    <head>
        <title  th:text ="Login"></title>
        <link rel="stylesheet" th:href="@{/resources/currency.css}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
         <p class="timeBanner">Time: <span th:text="${today}"></span></p>
        <div id='cssmenu'>
<ul>
   <li><a href='/Home'><span>Home</span></a></li>
   <li class='last'><a th:href='${login_path}'><span th:text="${login_menu}"></span></a></li>

</ul>
</div>
         <form method="post" action="LoginHandler">  
             UserName:<div class="login_box"><input type="text" name="userName"/></div><br/><br/>  
             Password:<div class="login_box"><input type="password" name="userpass" /></div><br/><br/>  
<input type="submit" value="login"/>  
</form>  
    </body>
</html>
