<!DOCTYPE html>
<html>
    <head>
        <title  th:text ="${current_game.getName()}"></title>
        <link rel="stylesheet" th:href="@{/resources/currency.css}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
         <p class="timeBanner">Time: <span th:text="${today}"></span></p>
        <div id='cssmenu'>
<ul>
   <li><a href='/Home'><span>Home</span></a></li>
   <li class='last'><a th:href='${login_path}'><span th:text="${login_menu}"></span></a></li>

</ul>
</div>
         <div class="display_item">
         <p class="title_product"  th:text="${current_game.getName()}">  </p>
         <img class="product" th:src="@{${current_game.getPicture_Url()}}" > </img>
         <span class="euro_product">EUR</span><span class ="price_product" th:text="${current_game.getPrice()}"> </span>
          <p class ="description_product" th:text="${current_game.getShort_desctription()}"> </p>    

    <form th:action="buy"  method="post">
 <input type="hidden" name="product" th:value="${current_game.getName()}"/>   
 <input type="submit" value="Add to cart"/>
</form>
         </div>
    </body>
</html>
