<!DOCTYPE html>
<html>
    <head>
        <title>Currency calculator</title>
        <link rel="stylesheet" th:href="@{/resources/currency.css}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <li th:each="item : ${currencies}" th:text="${item}"></li>
    </body>
</html>
