<!DOCTYPE html>
<html>
    <head>
        <title>Currency calculator</title>
        <link rel="stylesheet" th:href="@{/resources/currency.css}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <h1>Currency calculator</h1>
        <p class="timeBanner">Time: <span th:text="${today}"></span></p>
        <form action="templatinglab/convert" method="GET">
            <p>Amount: <input type="text" name="amount" /></p>
            <p>From currency: 
                <select name = "in"> <option th:each="item : ${currencies}"  th:id="${item}" th:text="${item}"></option></select></p>
            <p>To currency:
                <select name = "out"><option th:each="item : ${currencies}" th:text="${item}"></option></select></p>
            <p><input type="submit" /></p>
        </form>
    </body>
</html>
